<div class="container-fluid" >

    <div >  <!-- pasek nawigacji gora-->
      <app-navigation-bar></app-navigation-bar>
    </div>

    <div class="col-md-10 offset-md-1" style="position: absolute; z-index: -2; margin-top: 50px">
      <router-outlet></router-outlet>

    </div>


</div>



<!--
 <app-register></app-register>
        <app-api-home-page></app-api-home-page>
  <div >
    <div style="position:absolute;  ">
        <div  class="row" style="position: fixed; width: 100%; align-items: center; height: 50px; background: #00802b;  ">
            <div style="width: 50%">
              <img src="assets/logoStrony.png" style="width:50px;height:50px; margin-left:20%;" >
            </div>
              <div style="width: 50%" >
                <app-setting-menu style="margin-left:60%;" ></app-setting-menu>
              </div>
        </div>
    </div>

    <div class="row" div style="position:relative;  ">

      <div class="left" >
          <div [ngClass]="'divMenu'">
              <nav class="navbar navbar-light" >
                <a > <app-menu ></app-menu>  </a>
              </nav>
            </div>
      </div>

      <div class="right">
          <div>
              <app-progress-bar></app-progress-bar>
            </div>

            <div >
              <div>
                  <router-outlet ></router-outlet>
              </div>
            </div>
      </div>

    </div>


</div>
 -->
